<html>
  <head>
<link rel="shortcut icon" href="/src/components/images/favicon.ico" type="image/x-icon">
    <title>Example</title>
  </head>
  <body>
    
    <div class="content__wrapper">
      <h1 class="title">Slider by rahunak</h1>
      <div class="bg_image"></div>
    <div class="gallery">
      <img src="../images/cranes/1-crane.jpg" alt="">
      <img src="../images/cranes/2-crane.jpg" alt="">
      <img src="../images/cranes/3-crane.jpg" alt="">
      <img src="../images/cranes/4-crane.jpg" alt="">
    </div>
    </div>

  </body>
</html>
