<html>
  <head>
<link rel="shortcut icon" href="/src/components/images/favicon.ico" type="image/x-icon">
    <title>slider</title>
  </head>
  <body>
    <main>
      <div class="bg_image"></div>
      <div class="content__wrapper">
        <h1 class="title">Slider by rahunak</h1>
        <div class="gallery">
          <img src="../images/cranes/1-crane.jpg" alt="">
          <img src="../images/cranes/2-crane.jpg" alt="">
          <img src="../images/cranes/3-crane.jpg" alt="">
          <img src="../images/cranes/4-crane.jpg" alt="">
          <!-- <img src="../images/my-face.jpeg" alt=""> -->
        </div>
      </div>
    </main>
  </body>
</html>
